* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;
}
.hero{
  height: 80vh;
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
url(image/AB.jpg);
background-size:cover;
background-position: center;
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
text-align: center;
color: white ;
}
header h1 {
  font-size: 60px;
  text-shadow: 2px 2px 5px black;
}

header p {
  font-size: 22px;
  margin-top: 10px;
}

nav {
  background: #8b0000;
  padding: 15px;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: gold;
}

section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #8b0000;
}

.about {
  text-align: center;
  font-size: 18px;
  line-height: 1.8;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.gallery img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

iframe {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 10px;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  background: #8b0000;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: #a30000;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

@media(max-width:768px) {
  
  header h1 {
    font-size: 40px;
  }
  
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}